<a href="https://colab.research.google.com/github/ajinkyagh/Python_Practice/blob/main/Brushup_Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Day 1: Introduction to Python
Problem:
Write a Python program that:

Takes two numbers as input from the user.

Prints the sum, difference, product, and quotient of those two numbers.

Hints:

Use input() to get input from the user.

Convert the input to integers using int().

Perform the four operations (sum, difference, product, quotient) and print the results.

In [ ]:
num_1 = int(input("Enter number 1: "))
num_2 =int(input("Enter number 2: "))

Enter number 1: 10
Enter number 2: 20

In [ ]:
print(f"Sum of {num_1} and {num_2} is {num_1+num_2}")

Sum of 10 and 20 is 30

In [ ]:
print(f"Difference of {num_1} and {num_2} is {num_1-num_2}")

Difference of 10 and 20 is -10

In [ ]:
print(f"Product of {num_1} and {num_2} is {num_1*num_2}")

Product of 10 and 20 is 200

In [ ]:
if num_2 != 0:
  print(f"Quotient of {num_1} and {num_2} is {num_1/num_2}")
else:
  print ("Cannot divide by zero")

Quotient of 10 and 20 is 0.5

Day 2: Variables and Data Types
Problem:
Write a Python program that:

Stores your name, age, and city in variables.

Then, prints a message that says:
"Hello, my name is [name], I am [age] years old, and I live in [city]."

Hints:

Use variables to store your name, age, and city.

Use an f-string or .format() to print the message with the values of the variables.

In [ ]:
name = "Ajinkya"
age = 26
city = "Worcester"

In [ ]:
print("Hello, my name is {} age is {} and city is {}".format(name, age, city) )

Hello, my name is Ajinkya age is 26 and city is Worcester

Day 3: Control Flow - if, elif, else
Problem:
Write a Python program that:

Takes an integer input from the user.

Checks whether the number is positive, negative, or zero.

Prints the appropriate message:

"The number is positive"

"The number is negative"

"The number is zero"

Hints:

Use if, elif, and else to check the conditions.

For the if condition, check if the number is greater than zero.

For the elif, check if the number is less than zero.

Use else for the case when the number is zero.

In [ ]:
number = int(input("Enter a number: "))

if number > 0 :
  print("The number is positive")
elif number < 0:
  print("The number is negative")
else:
  print ("The number is zero")

Enter a number: 10
The number is positive

Day 4: Loops - for and while
Problem:
Write a Python program that prints all even numbers from 1 to 20 using a for loop.

Hints:

Use range() to loop over numbers from 1 to 20.

Use the modulus operator (%) to check if a number is even. If number % 2 == 0, then the number is even.

In [ ]:
for number in range (1,21):
  if number % 2 == 0:
    print(number)

2
4
6
8
10
12
14
16
18
20

Day 5: List Operations
Problem:
Write a Python program that:

Takes a list of numbers as input from the user (you can hardcode the list if you prefer).

Prints the sum of all the numbers in the list.

Prints the average of the numbers in the list.

Hints:

You can use the sum() function to get the sum of the list.

To find the average, divide the sum of the list by the length of the list, which can be found using len().

In [ ]:
numbers = [1,2,3,4,5,6,7,8]

print(f"Sum of number is {sum(numbers)}")
print(f"Average of numbers is {sum(numbers)/len(numbers)}")

Sum of number is 36
Average of numbers is 4.5

Day 6: Functions - Creating Functions
Problem:
Write a Python function that:

Takes two numbers as parameters.

Returns their multiplication result.

Then, call the function with two numbers and print the result.

Hints:

Define a function using def.

The function should accept two parameters and return their product.

Use the return keyword to return the result.

In [ ]:
def multiplication (number_1, number_2):
  return number_1 * number_2

result = multiplication(2,3)

print(f"Multiplication is : {result}")

Multiplication is : 6

Day 7: List Comprehensions
Problem:
Write a Python program that:

Takes a list of numbers.

Returns a new list that contains the square of each number in the original list using list comprehension.

Hints:

Use list comprehension to create a new list.

For each number in the original list, square it using number ** 2.

In [ ]:
number = [x**2 for x in range(1,11)]
print(number)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Day 8: Tuples and Sets
Problem:
Write a Python program that:

Takes a list of items (you can hardcode it for now).

Converts the list into a tuple.

Removes duplicate values from the list by converting it into a set.

Prints the tuple and the set.

Hints:

Use tuple() to convert the list into a tuple.

Use set() to remove duplicates, as sets do not allow duplicate values.

Print both the tuple and the set.

In [ ]:
items = [1, 1 ,3 ,2 , 2, 4, 5]
tuple_list = tuple(items)
set_list = set(items)

print (tuple_list)
print (set_list)

(1, 1, 3, 2, 2, 4, 5)
{1, 2, 3, 4, 5}

Day 9: Dictionary Operations
Problem:
Write a Python program that:

Creates a dictionary with the following key-value pairs:

"name": "Alice"

"age": 30

"city": "New York"

Adds a new key-value pair: "job": "Engineer".

Removes the "age" key-value pair.

Prints the final dictionary.

Hints:

Use {} to create a dictionary.

To add a new key-value pair, just assign a value to a new key.

To remove an item, use the del keyword or pop().

In [ ]:
dict = {"name": "Alice", "age": 30, "city": "New York"}
dict["job"] = "Engineer"
dict.pop("age")

print(dict)

{'name': 'Alice', 'city': 'New York', 'job': 'Engineer'}

Day 10: File Handling - Reading a File
Problem:
Write a Python program that:

Creates a text file called sample.txt.

Writes the following content to the file:

kotlin
Copy
Hello, this is a sample text file.
We are learning Python file handling.
Reads the content from the file and prints it.

Hints:

Use the open() function to create and open the file.

Use 'w' mode to write to the file and 'r' mode to read from it.

Close the file after reading.

In [ ]:
file_name= "sample.txt"
with open(file_name, "w") as file:
  file.write("Hello, this is a sample text file. We are learning Python file handling.")

with open(file_name, "r") as file:
  content = file.read()
  print(content)

Hello, this is a sample text file. We are learning Python file handling.

Day 11: File Handling - Writing to a File
Problem:
Write a Python program that:

Creates a text file called students.txt.

Writes the following lines to the file (each on a new line):

Copy
Alice, 25
Bob, 30
Charlie, 22
Reads the content from the file and prints it line by line.

Hints:

Use 'w' mode to write to the file and 'r' mode to read from it.

To write multiple lines, you can either use write() multiple times or writelines() to write a list of strings.

When reading, use readlines() to get all lines as a list, and then loop through them to print each line.

In [ ]:
file_name = "students.txt"
with open(file_name, "w") as file:
  file.write("Alice, 25\n")
  file.write("Bob, 30\n")
  file.write("Charlie, 22\n")

with open(file_name, "r") as file:
  lines = file.readlines()
  for line in lines:
    print(line)

Alice, 25

Bob, 30

Charlie, 22

Day 12: File Handling - CSV Files
Problem:
Write a Python program that:

Creates a CSV file called employees.csv.

Writes the following data to the file:

pgsql
Copy
Name, Age, Department
Alice, 30, HR
Bob, 25, IT
Charlie, 28, Finance
Reads the content from the CSV file and prints each row.

Hints:

Use Python's built-in csv module to handle CSV files.

Use csv.writer() to write data to the CSV file.

Use csv.reader() to read the content from the CSV file.

Once you've written the code, share it here, and I'll review it!

In [ ]:
import csv
file_name = "employees.csv"
data = [['Name','Age','Department'],['Alice','30','HR'],['Bob',25,'IT'],['Charle',28,'Finance']]

with open(file_name, 'w', newline='') as file:
  writer = csv.writer(file)
  writer.writerows(data)

with open(file_name, 'r') as file:
  reader = csv.reader(file)
  for row in reader:
    print(row)

['Name', 'Age', 'Department']
['Alice', '30', 'HR']
['Bob', '25', 'IT']
['Charle', '28', 'Finance']

Day 13: String Manipulation
Problem:
Write a Python program that:

Takes a string input from the user.

Counts the number of vowels (a, e, i, o, u) in the string (both uppercase and lowercase vowels).

Prints the total count of vowels.

Hints:

Use a for loop to iterate over each character in the string.

Check if each character is a vowel (either lowercase or uppercase).

Keep a counter to track the number of vowels.

In [1]:
word = input("Enter a word")
count = 0

for letter in word:
  if letter in "aeiouAEIOU":
    count = count + 1

print(f"Total number of vowels is {count}")

Enter a wordAjinkya
Total number of vowels is 3

Day 14: Slicing Lists and Strings
Problem:
Write a Python program that:

Takes a string input from the user.

Prints the first 5 characters of the string.

Prints the last 3 characters of the string.

Hints:

Use string slicing to extract the required parts of the string.

To get the first 5 characters, use string[:5].

To get the last 3 characters, use string[-3:].

In [1]:
input_string = input("Enter a string: ")

first_five = input_string[:5]
last_three = input_string[-3:]

print(f"First 5 characters: {first_five}")
print(f"Last 3 characters: {last_three}")

Enter a string: ajinkya
First 5 characters: ajink
Last 3 characters: kya

Day 15: Numpy Basics
Problem:
Write a Python program that:

Imports the numpy library.

Creates a Numpy array with 10 random integers between 1 and 100.

Prints the array.

Calculates and prints the sum and the mean of the numbers in the array.

Hints:

Use numpy.random.randint() to generate random integers.

Use numpy.sum() to calculate the sum of the array.

Use numpy.mean() to calculate the mean of the array.

In [15]:
import numpy as np


random_integers = np.random.randint(1, 101, size=10)

print(f"Random integers: {random_integers}")
print(f"Sum is {np.sum(random_integers)}")
print(f"Mean is {np.mean(random_integers)}")

Random integers: [66  8  9 60 12 38 44 48  3 75]
Sum is 363
Mean is 36.3

Day 16: Numpy Array Operations
Problem:
Write a Python program that:

Creates a Numpy array of 10 random integers between 1 and 50.

Finds the maximum, minimum, and average of the array.

Prints the array, maximum, minimum, and average values.

Hints:

Use numpy.random.randint() to generate random integers.

Use numpy.max(), numpy.min(), and numpy.mean() to calculate the maximum, minimum, and average respectively.

In [1]:
import numpy as np
random_integers = np.random.randint(1, 51, size=10)

print(f"Random integers: {random_integers}")
print(f"Max is {np.max(random_integers)}")
print(f"Min is {np.min(random_integers)}")
print(f"Mean is {np.mean(random_integers)}")

Random integers: [15 18 16 49 17 48  7 44 27 12]
Max is 49
Min is 7
Mean is 25.3

Day 17: Pandas Basics - DataFrame Creation
Problem:
Write a Python program that:

Imports the pandas library.

Creates a DataFrame using the following data:

pgsql
Copy
Name, Age, Department
Alice, 30, HR
Bob, 25, IT
Charlie, 28, Finance
Prints the DataFrame.

Hints:

Use pandas.DataFrame() to create a DataFrame.

Pass a dictionary or a list of lists to the DataFrame() constructor to create the table.

In [4]:
import pandas as pd

details = [['Alice', 30, 'HR' ], ['Bob', 25, 'IT'], ['Charlie', 28,'Finance'] ]

columns = ['Name', 'Age', 'Department']

df = pd.DataFrame(details, columns= columns)
print(df)

      Name  Age Department
0    Alice   30         HR
1      Bob   25         IT
2  Charlie   28    Finance

Day 18: Pandas - DataFrame Operations
Problem:
Write a Python program that:

Creates a DataFrame with the following data:

Name, Age, Department
Alice, 30, HR
Bob, 25, IT
Charlie, 28, Finance
David, 35, HR
Eve, 22, IT

Filters the DataFrame to show only the rows where the Department is "HR".

Prints the filtered DataFrame.

Hints:

Use pandas.DataFrame() to create the DataFrame.

Use conditional filtering to select rows based on the Department column: df[df['Department'] == 'HR'].

In [10]:
import pandas as pd

details = [['Alice', 30, 'HR' ], ['Bob', 25, 'IT'], ['Charlie', 28,'Finance'] ]
columns = ['Name', 'Age', 'Department']

df = pd.DataFrame(details, columns= columns)
print(df)


filtered_df = df[df['Department'] == 'HR']
print(filtered_df)

      Name  Age Department
0    Alice   30         HR
1      Bob   25         IT
2  Charlie   28    Finance
    Name  Age Department
0  Alice   30         HR

Day 19: Pandas - Grouping Data
Problem:
Write a Python program that:

Creates a DataFrame with the following data:

Name, Age, Department
Alice, 30, HR
Bob, 25, IT
Charlie, 28, Finance
David, 35, HR
Eve, 22, IT
Frank, 40, Finance


Groups the DataFrame by the Department column and calculates the average age for each department.

Prints the grouped DataFrame with the average ages.

Hints:

Use the groupby() method to group by the Department column.

Use agg() or mean() to calculate the average age for each group.

Once you've written the code, share it here, and I'll review it!

In [14]:
import pandas as pd

details = [['Alice', 30, 'HR' ], ['Bob', 25, 'IT'], ['Charlie', 28,'Finance'] ]
columns = ['Name', 'Age', 'Department']

df = pd.DataFrame(details, columns= columns)

average = df.groupby('Department')['Age'].agg('mean')

print(average)

Department
Finance    28.0
HR         30.0
IT         25.0
Name: Age, dtype: float64

Day 20: Pandas - Missing Data
Problem:
Write a Python program that:

Creates a DataFrame with the following data (with some missing values):

pgsql
Copy
Name, Age, Department
Alice, 30, HR
Bob, NaN, IT
Charlie, 28, Finance
David, NaN, HR
Eve, 22, IT
Frank, 40, Finance
Handles missing values in the Age column by filling them with the average age.

Prints the DataFrame with the filled missing values.

Hints:

Use pandas.isnull() or pandas.isna() to identify missing values.

Use fillna() to fill the missing values with the mean of the Age column.

In [30]:
import pandas as pd
import numpy as np

details = {'Name':['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
           'Age':[30, np.nan ,28,np.nan ,22,40],
           'Department': ['HR', 'IT', 'Finance', 'HR', 'IT','Finance']}

df = pd.DataFrame(details)

missing_values = df.isnull().sum()
print(missing_values)

df = df.fillna(df['Age'].mean())

print(df)

Name          0
Age           2
Department    0
dtype: int64
      Name   Age Department
0    Alice  30.0         HR
1      Bob  30.0         IT
2  Charlie  28.0    Finance
3    David  30.0         HR
4      Eve  22.0         IT
5    Frank  40.0    Finance

Day 21: Pandas - Sorting Data
Problem:
Write a Python program that:

Creates a DataFrame with the following data:

pgsql
Copy
Name, Age, Department
Alice, 30, HR
Bob, 25, IT
Charlie, 28, Finance
David, 35, HR
Eve, 22, IT
Frank, 40, Finance
Sorts the DataFrame by the Age column in ascending order.

Sorts the DataFrame by the Age column in descending order.

Prints both the sorted DataFrames.

Hints:

Use sort_values() to sort the DataFrame.

You can specify the ascending parameter to control whether it sorts in ascending or descending order.

In [2]:
import pandas as pd

details = [['Alice', 30, 'HR' ], ['Bob', 25, 'IT'], ['Charlie', 28,'Finance'], ['David', 35, 'HR'] , ['Eve', 22, 'IT'], ['Frank', 40, 'Finance'] ]
columns = ['Name', 'Age', 'Department']

df = pd.DataFrame(details, columns= columns)

df_sorted = df.sort_values(by='Age')
print(df_sorted)

      Name  Age Department
4      Eve   22         IT
1      Bob   25         IT
2  Charlie   28    Finance
0    Alice   30         HR
3    David   35         HR
5    Frank   40    Finance

Day 22: Pandas - Working with Dates
Problem:
Write a Python program that:

Creates a DataFrame with the following data (including some dates):


Name, Age, Joining Date
Alice, 30, 2020-01-15
Bob, 25, 2019-03-22
Charlie, 28, 2021-06-10
David, 35, 2018-09-08
Eve, 22, 2022-04-30
Frank, 40, 2017-12-05
Converts the Joining Date column to a datetime object.

Filters the rows where the Joining Date is after January 1, 2020.

Prints the filtered DataFrame.

Hints:

Use pd.to_datetime() to convert the Joining Date column to datetime.

Use a condition to filter the rows based on the date.

In [8]:
import pandas as pd

details = [['Alice', 30, 'HR', '2020-01-15' ], ['Bob', 25, 'IT','2019-03-22'], ['Charlie',28,'Finance','2021-06-10'], ['David', 35, 'HR','2018-09-08'] , ['Eve', 22, 'IT','2022-04-30'], ['Frank', 40, 'Finance','2017-12-05'] ]
columns = ['Name', 'Age', 'Department','Joining_Date']

df = pd.DataFrame(details, columns= columns)
df['Joining_Date'] = pd.to_datetime(df['Joining_Date'])

df_date = df[df['Joining_Date'] > '2020-01-01']

print(df_date)

      Name  Age Department Joining_Date
0    Alice   30         HR   2020-01-15
2  Charlie   28    Finance   2021-06-10
4      Eve   22         IT   2022-04-30

Day 23: Pandas - Working with CSV Files
Problem:
Write a Python program that:

Creates a DataFrame with the following data:

pgsql
Copy
Name, Age, Department
Alice, 30, HR
Bob, 25, IT
Charlie, 28, Finance
David, 35, HR
Eve, 22, IT
Frank, 40, Finance
Saves this DataFrame to a CSV file called employees.csv.

Reads the CSV file back into a new DataFrame.

Prints the DataFrame read from the CSV file.

Hints:

Use df.to_csv('filename.csv') to save the DataFrame to a CSV file.

Use pd.read_csv('filename.csv') to read the CSV file back into a DataFrame.

In [12]:
import pandas as pd

details = [['Alice', 30, 'HR' ], ['Bob', 25, 'IT'], ['Charlie', 28,'Finance'], ['David', 35, 'HR'] , ['Eve', 22, 'IT'], ['Frank', 40, 'Finance'] ]
columns = ['Name', 'Age', 'Department']

df = pd.DataFrame(details, columns= columns)

df.to_csv("Employees.csv", index=False)

df=pd.read_csv("Employees.csv")

print(df)

      Name  Age Department
0    Alice   30         HR
1      Bob   25         IT
2  Charlie   28    Finance
3    David   35         HR
4      Eve   22         IT
5    Frank   40    Finance

Day 24: Pandas - Merging DataFrames
Problem:
Write a Python program that:

Creates two DataFrames:

DataFrame 1 (employee details):

pgsql
Copy
Name, Age, Department
Alice, 30, HR
Bob, 25, IT
Charlie, 28, Finance


DataFrame 2 (employee salaries):

pgsql
Copy
Name, Salary
Alice, 50000
Bob, 60000
Charlie, 55000
Merges the two DataFrames on the Name column.

Prints the merged DataFrame.

Hints:

Use pd.merge() to merge the two DataFrames.

Specify the on parameter to merge them on the Name column.

In [2]:
import pandas as pd
employee_details = [['Alice', 30, 'HR' ], ['Bob', 25, 'IT'], ['Charlie', 28,'Finance'] ]
employee_salaries = [['Alice', 50000],['Bob', 60000], ['Charlie', 55000]]

columns_employee_details = ['Name', 'Age', 'Department']
columns_employee_salaries = ['Name', 'Salary']

df_employee_details = pd.DataFrame(employee_details, columns= columns_employee_details)
df_employee_salaries = pd.DataFrame(employee_salaries, columns= columns_employee_salaries)

df_merged = pd.merge(df_employee_details, df_employee_salaries, on='Name')

print(df_merged)

      Name  Age Department  Salary
0    Alice   30         HR   50000
1      Bob   25         IT   60000
2  Charlie   28    Finance   55000

Day 25: Pandas - Pivot Tables
Problem:
Write a Python program that:

Creates a DataFrame with the following data:

yaml
Copy
Name, Department, Sales
Alice, HR, 5000
Bob, IT, 7000
Charlie, Finance, 8000
David, HR, 5500
Eve, IT, 6500
Frank, Finance, 7500
Creates a pivot table to calculate the total sales for each department.

Prints the pivot table.

Hints:

Use pd.pivot_table() to create the pivot table.

Set the values parameter to Sales, and index to Department to group by department.

In [5]:
import pandas as pd

details = [['Alice', 'HR', 5000 ], ['Bob', 'IT', 7000], ['Charlie', 'Finance', 8000], ['David', 'HR', 5500] , ['Eve', 'IT', 6500], ['Frank', 'Finance', 7500] ]
columns = ['Name', 'Department', 'Sales']

df = pd.DataFrame(details, columns= columns)

pivot_table_result = pd.pivot_table(df, values='Sales', index='Department', aggfunc='sum')

print(pivot_table_result)

            Sales
Department
Finance     15500
HR          10500
IT          13500

Day 26: Pandas - Handling Categorical Data
Problem:
Write a Python program that:

Creates a DataFrame with the following data:

scss
Copy
Name, Department, Experience (Years)
Alice, HR, 5
Bob, IT, 2
Charlie, Finance, 7
David, HR, 3
Eve, IT, 4
Frank, Finance, 8
Converts the Department column to a categorical data type.

Prints the DataFrame and shows the dtype of the Department column.

Hints:

Use pd.Categorical() to convert a column to a categorical data type.

Use the .dtype attribute to check the data type of the column.

In [7]:
import pandas as pd

details = [['Alice','HR', 5], ['Bob', 'IT', 2], ['Charlie', 'Finance', 7], ['David', 'HR', 3] , ['Eve', 'IT', 4], ['Frank', 'Finance', 8]]
columns = ['Name', 'Department', 'Experience']

df = pd.DataFrame(details, columns= columns)

df['Department'] = pd.Categorical(df['Department'])

print(df)

print(df['Department'].dtype)

      Name Department  Experience
0    Alice         HR           5
1      Bob         IT           2
2  Charlie    Finance           7
3    David         HR           3
4      Eve         IT           4
5    Frank    Finance           8
category

Day 27: Pandas - Apply Function
Problem:
Write a Python program that:

Creates a DataFrame with the following data:

pgsql
Copy
Name, Age, Salary
Alice, 30, 50000
Bob, 25, 60000
Charlie, 28, 55000
David, 35, 70000
Eve, 22, 65000
Frank, 40, 75000
Creates a new column called Salary_Hike that contains the salary after a 10% hike. Use the apply() function to calculate the new salary for each employee.

Prints the DataFrame with the new Salary_Hike column.

Hints:

Use the apply() function along with a lambda function to calculate the new salary.

The new salary can be calculated by multiplying the current salary by 1.10.

In [8]:
import pandas as pd

details = [['Alice', 30, 50000], ['Bob', 25, 60000], ['Charlie', 28, 55000], ['David',35,70000], ['Eve', 22, 65000], ['Frank', 40, 75000] ]
columns = ['Name', 'Age', 'Salary']

df = pd.DataFrame(details, columns= columns)

df['Salary_Hike'] = df['Salary'].apply(lambda x: x * 1.10)

print(df)

      Name  Age  Salary  Salary_Hike
0    Alice   30   50000      55000.0
1      Bob   25   60000      66000.0
2  Charlie   28   55000      60500.0
3    David   35   70000      77000.0
4      Eve   22   65000      71500.0
5    Frank   40   75000      82500.0

Day 28: Pandas - String Manipulation
Problem:
Write a Python program that:

Creates a DataFrame with the following data:

pgsql
Copy
Name, Department, Salary
Alice, HR, 50000
Bob, IT, 60000
Charlie, Finance, 55000
David, HR, 70000
Eve, IT, 65000
Frank, Finance, 75000
Adds a new column Department_Upper that contains the Department names in uppercase.

Adds a new column Name_Lower that contains the Name in lowercase.

Prints the DataFrame with the new columns.

Hints:

Use the .str.upper() method to convert the Department column to uppercase.

Use the .str.lower() method to convert the Name column to lowercase.

In [1]:
import pandas as pd

details = [['Alice', 'HR', 50000], ['Bob', 'IT', 60000], ['Charlie', 'Finance', 55000], ['David','HR',70000], ['Eve', 'IT', 65000], ['Frank', 'Finance', 75000] ]
columns = ['Name', 'Department', 'Salary']

df = pd.DataFrame(details, columns= columns)

df['Department_Upper'] = df["Department"].str.upper()
df['Name_Lower'] = df['Name'].str.lower()

print(df)

      Name Department  Salary Department_Upper Name_Lower
0    Alice         HR   50000               HR      alice
1      Bob         IT   60000               IT        bob
2  Charlie    Finance   55000          FINANCE    charlie
3    David         HR   70000               HR      david
4      Eve         IT   65000               IT        eve
5    Frank    Finance   75000          FINANCE      frank

Day 29: Pandas - Filtering with Multiple Conditions
Problem:
Write a Python program that:

Creates a DataFrame with the following data:

pgsql
Copy
Edit
Name, Department, Salary
Alice, HR, 50000
Bob, IT, 60000
Charlie, Finance, 55000
David, HR, 70000
Eve, IT, 65000
Frank, Finance, 75000
Filters the DataFrame to show only:

Employees from the IT department

Whose salary is greater than 60000

Prints the filtered DataFrame.

Hints:

Use & to combine multiple conditions inside the filter.

Remember to wrap each condition in parentheses.

In [5]:
import pandas as pd

details = [['Alice', 'HR', 50000], ['Bob', 'IT', 60000], ['Charlie', 'Finance', 55000], ['David','HR',70000], ['Eve', 'IT', 65000], ['Frank', 'Finance', 75000] ]
columns = ['Name', 'Department', 'Salary']

df = pd.DataFrame(details, columns= columns)

df_filtered = df[(df['Department'] == 'IT') & (df['Salary'] > 60000)]

print(df_filtered)

  Name Department  Salary
4  Eve         IT   65000